@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --wine:rgb(247, 10, 61);
  --red: #dc3545;
  --red-palid: #f8d7da;
  --dark:rgb(6, 24, 34);
  --darker:rgb(2, 9, 12);
  --night: #444E5C;
  --night-darker: rgba(0,0,0,.2);
  --midnight:#303A52;
  --midnight-light:#39445F;
  --white: whitesmoke;
  --pure: white;
  --gray:rgb(162, 167, 170);
  --gray-white: #F6F9F9;
  --gray-light:rgb(236, 239, 240);
  --gray-loyal:#abb2bf;
  --gray-dark:gray;
  --blue:#75c0e0;
  --blue-royal:#194a8d;
  --yellow:#fecf6a;
  --green:#27AE60 ;
  --green-cake: #b9f5d0;
  --green-leaf:#71AE21;

  --blue950: #0b2546; 
  --blue900: #103c6a;
  --blue800: #0c4680;
  --blue700: #09529b;
  --blue600: #0a66bd;
  --blue500: #1785e0;
  --blue400: #40a0f0;
  --blue300: #82c0f7;
  --blue200: #bddcfa;
  --blue100: #e1eefd;
  --blue50: #f1f7fe;

  --yellow: #f9d71c;
  --yellow2: #FFD600;
  
  --green-transparent-gradient:linear-gradient(1.7deg, rgba(39,174,96,1) 5.1%, rgba(59,55,128,0.00) 96.1%);
  --blue-gradient: linear-gradient( 179.3deg, #f6f6f6 68.1%, rgba(63,160,241,1) 126.9% );
  --blue-gradient-2: linear-gradient( 179.3deg, #ffffff 76%, rgba(63,160,241,1) 126.9% );
  --blue-gradient-3: linear-gradient( 179.3deg, #ffffff 86%, rgba(63,160,241,1) 126.9% );
  --night-gradient: linear-gradient(90deg, rgba(14,43,55,1) 0%, rgba(8,32,42,1) 12%, rgba(11,11,11,1) 100%);
  --orange-gradient: linear-gradient(90deg, rgba(251,225,141,1) 0%, rgba(254,151,0,1) 64%, rgba(238,141,0,1) 99%);
  --shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  --shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  --shadow-lg: 0 1rem 3rem rgba(0,0,0, .175) !important;
  --shadow-bright: 0px 0px 20px 1px #666;
  --text-shadow: 0px 0px 0.8px #666;

  --main-font: 'Montserrat Alternates', sans-serif;
}

* {
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  /* font-family: 'Arimo', sans-serif; */

  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px; /* Tamaño base */
}

body {
  padding:0;
  margin:0;
  background-color: white;
}


p {
  margin:0;
  padding: 0;
}

a { 
  text-decoration: none; 
  transition: opacity 0.4s ease-in-out;
}
a:hover { opacity: 0.5; }


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  --gris-scrollbar: #bfbfbf;
  background: var(--gris-scrollbar);
  border-radius: 50px;
}



/****************************************
*************** Utilities ***************
*****************************************/

/* -------- [ Padding ] ------- */

.p-0 { padding: 0 !important;}
.p-0-4 { padding:0.4rem !important;}
.p-0-5 { padding:0.5rem !important;}
.p-1 { padding:1rem !important;}
.p-2 { padding:2rem !important;}
.p-3 { padding:3rem !important;}
.p-4 { padding:4rem !important;}

.pt-0 { padding-top:0 !important; }
.pt-0-1 { padding-top:0.1rem !important; }
.pt-0-2 { padding-top:0.2rem !important; }
.pt-0-3 { padding-top:0.3rem !important; }
.pt-0-4 { padding-top:0.4rem !important; }
.pt-0-5 { padding-top:0.5rem !important; }

.pt-1 { padding-top:1rem !important;}
.pt-1-5 { padding-top:1.5rem !important;}
.pt-2 { padding-top:2rem !important;}
.pt-3 { padding-top:3rem !important;}
.pt-4 { padding-top:4rem !important;}

.pb-0 { padding-bottom: 0 !important;}
.pb-0-1 { padding-bottom:0.1rem !important;}
.pb-0-2 { padding-bottom:0.2rem !important;}
.pb-0-3 { padding-bottom:0.3rem !important;}
.pb-0-4 { padding-bottom:0.4rem !important;}
.pb-0-5 { padding-bottom:0.5rem !important;}
.pb-0-6 { padding-bottom:0.6rem !important;}
.pb-0-7 { padding-bottom:0.7rem !important;}
.pb-0-8 { padding-bottom:0.8rem !important;}
.pb-0-9 { padding-bottom:0.9rem !important;}

.pb-1 { padding-bottom:1rem !important;}
.pb-1-5 { padding-bottom:1.5rem !important;}
.pb-2 { padding-bottom:2rem !important;}
.pb-3 { padding-bottom:3rem !important;}
.pb-4 { padding-bottom:4rem !important;}

.pr-0 { padding-right:0rem !important; }
.pr-0-4 { padding-right:0.4rem !important; }
.pr-0-5 { padding-right:0.5rem !important; }
.pr-1 { padding-right:1rem !important;}
.pr-2 { padding-right:2rem !important;}
.pr-3 { padding-right:3rem !important;}
.pr-4 { padding-right:4rem !important;}

.pl-0 { padding-left:0rem !important; }
.pl-0-4 { padding-left:0.4rem !important; }
.pl-0-5 { padding-left:0.5rem !important; }
.pl-1 { padding-left:1rem !important;}
.pl-1-5 { padding-left:1.5rem !important; }
.pl-2 { padding-left:2rem !important;}
.pl-3 { padding-left:3rem !important;}
.pl-4 { padding-left:4rem !important;}

.pl-calc-1 { padding-left: calc(1rem + 4px); }

/* -------- [ Margin ] ------- */

.m-0 { margin:0 !important; }
.m-0-5{ margin: 0.5rem !important; }
.m-1 { margin:1rem !important;}
.m-2 { margin:2rem !important;}
.m-3 { margin:3rem !important;}
.m-4 { margin:4rem !important;}

.mt-0 { margin-top:0 !important; }
.mt-0-1{ margin-top: 0.1rem !important; }
.mt-0-2{ margin-top: 0.2rem !important; }
.mt-0-5{ margin-top: 0.5rem !important; }

.mt-1 { margin-top:1rem !important; }
.mt-1-5 { margin-top:1.5rem !important; }

.mt-2 { margin-top:2rem !important; }
.mt-3 { margin-top:3rem !important; }
.mt-4 { margin-top:4rem !important; }

.mt-10px { margin-top: 10px !important; }
.mt-3px { margin-top: 3px !important; }

.mb-0 { margin-bottom:0 !important; }
.mb-0-1{ margin-bottom: 0.1rem !important; }
.mb-0-2{ margin-bottom: 0.2rem !important; }
.mb-0-3{ margin-bottom: 0.3rem !important; }
.mb-0-4{ margin-bottom: 0.4rem !important; }
.mb-0-5{ margin-bottom: 0.5rem !important; }

.mb-1 { margin-bottom:1rem !important; }
.mb-1-5 { margin-bottom:1.5rem !important; }

.mb-2 { margin-bottom:2rem !important; }
.mb-3 { margin-bottom:3rem !important; }
.mb-4 { margin-bottom:4rem !important; }

.mr-0 { margin-right:0 !important; }
.mr-0-4{ margin-right: 0.4rem !important; }
.mr-0-5{ margin-right: 0.5rem !important; }
.mr-1 { margin-right:1rem !important; }
.mr-2 { margin-right:2rem !important; }
.mr-3 { margin-right:3rem !important; }
.mr-4 { margin-right:4rem !important; }

.ml-0 { margin-left:0 !important; }
.ml-0-5{ margin-left: 0.5rem !important; }
.ml-1 { margin-left:1rem !important; }
.ml-2 { margin-left:2rem !important; }
.ml-3 { margin-left:3rem !important; }
.ml-4 { margin-left:4rem !important; }

.mx-auto { margin-left:auto !important; margin-right:auto !important; }

.mt-auto { margin-top:auto !important;}
.mb-auto { margin-bottom:auto !important;}
.mr-auto { margin-right:auto !important;}
.ml-auto { margin-left:auto !important;}

.m-auto { margin: auto !important; }


/* -------- [ Display ] ------- */

.d-flex { display:flex !important;}
.d-block { display:block !important; }
.d-inline { display:inline !important; }
.d-inline-block { display:inline-block !important;}
.d-none { display:none !important; }

.flex-column { flex-direction: column !important;}

.justify-center { justify-content:center !important; }
.justify-end { justify-content:end !important; }
.justify-start { justify-content: start !important;}
.justify-between { justify-content: space-between !important;}
.justify-space-around { justify-content: space-around !important;}

.align-items-center { align-items: center; }
.align-items-end { align-items: end; }
.align-items-start { align-items: start; }

.align-self-center { align-self: center;}
.align-self-end { align-self: flex-end;}


.align-center {
  display:flex;
  align-items:center;
  justify-content: center;
}

.align-bottom {
  display:flex;
  align-items: end;
  justify-content: center;
}

.align-y-center {
  display:flex;
  align-items:center;
}

.align-x-center {
  display:flex;
  justify-content: center;
}

.align-column-center {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.gap-1 { gap: 1rem; }
.gap-1-5 { gap: 1.5rem; }
.gap-2 { gap: 2rem; }
.gap-3 { gap: 3rem; }

.p-relative { position:relative; }
.p-absolute { position:absolute; }

.top-0 { top: 0 !important; }
.top-0-5 { top: 0.5rem !important; }
.top-0-6 { top: 0.6rem !important; }
.top-0-7 { top: 0.7rem !important; }

.top-1 { top: 1rem !important; }
.top-2 { top: 2rem !important; }

.bottom-0 { bottom: 0 !important; }

.right-0 { right: 0 !important; }
.right-1 { right: 1rem !important; }
.right-2 { right: 2rem !important; }

.left-0 { left:0 !important; }



/* -------- [ Text ] ------- */

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none { text-decoration: none; }

.text-white { color:white !important; }
.text-dark { color: var(--dark) !important; }
.text-wine { color:var(--wine) !important; }
.text-red { color: var(--red) !important; }
.text-blue { color: var(--blue) !important; }
.text-gray { color: whitesmoke !important;}
.text-gray-loyal { color: var(--gray-loyal) !important; }
.text-gray-light { color: var(--gray-light) !important; } 
.text-muted { color: var(--gray-dark) !important;}
.text-yellow { color: var(--yellow) !important; }
.text-orange { color: orange !important; }
.text-blue-royal { color: var(--blue-royal) !important;}

.text-blue950 { color: var(--blue950) !important; }
.text-blue900 { color: var(--blue900) !important; }
.text-blue800 { color: var(--blue800) !important; }
.text-blue700 { color: var(--blue700) !important; }
.text-blue600 { color: var(--blue600) !important; }
.text-blue500 { color: var(--blue500) !important; }
.text-blue400 { color: var(--blue400) !important; }
.text-blue300 { color: var(--blue300) !important; }
.text-blue200 { color: var(--blue200) !important; }
.text-blue100 { color: var(--blue100) !important; }
.text-blue50 { color: var(--blue50) !important; }

.text-gray-white { color: var(--gray-white) !important; }


.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }
.text-left { text-align: left !important;}
.text-right { text-align: right !important;}

.text-italic { font-style: italic; }
.text-capitalize { text-transform: capitalize; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-shadow {text-shadow: 0px 0px 3px black;}

/* -------- [ line-height ] ------- */

.lh-0 { line-height: 0 !important; }
.lh-1 { line-height: 1 !important; }
.lh-1-2 { line-height: 1.2 !important; }


/* -------- [ Font-Size ] ------- */

.fw-bolder { font-weight: 900; }
.fw-bold { font-weight: 600; }
.fw-bold-1 { font-weight: 700; }
.fw-normal { font-weight: normal !important; }
.fw-medium { font-weight: 500 !important;}
.fw-thin { font-weight: 400;}

.fs-10px { font-size: 10px !important; }
.fs-small { font-size: 12px !important; }
.fs-smaller { font-size: 13px !important; }
.fs-1 { font-size:1rem !important; }
.fs-1-2 { font-size: 1.2rem !important; }
.fs-1-3 { font-size: 1.3rem !important; }
.fs-1-4 { font-size: 1.4rem !important; }
.fs-1-5 { font-size:1.5rem !important; }
.fs-1-8 { font-size:1.8rem !important; }

.fs-2 { font-size:2rem !important; }
.fs-2-5 { font-size:2.5rem !important; }

.fs-3 { font-size:3rem !important; }
.fs-3-5 { font-size:3.5rem !important; }

.fs-4 { font-size:4rem !important; }
.fs-4-5 { font-size:4.5rem !important; }

.fs-5 { font-size:5rem !important; }
.fs-5-5 { font-size:5.5rem !important; }

.fs-6 { font-size:6rem !important; }
.fs-6-5 { font-size:6.5rem !important; }

.fs-7 { font-size:7rem !important; }
.fs-7-5 { font-size:7.5rem !important; }


.fmly-primary-font {
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.fmly-secondary-font {
  font-family: 'Raleway', sans-serif !important;
}

/* -------- [ Letter Spacing ] ------- */

.ls-1 { letter-spacing: 1; }
.ls-1px { letter-spacing: 1px !important; }
.ls-2px { letter-spacing: 2px !important; }
.ls-4px { letter-spacing: 4px !important; }



/* -------- [ Background ] ------- */

.bg-inherit { background-color: inherit !important;}

.bg-dark { background: var(--dark); }
.bg-wine { background: var(--wine); }
.bg-red { background-color: var(--red);}
.bg-red-palid { background-color: var(--red-palid);}
.bg-orange { background: orange; }
.bg-gray { background: var(--gray); }
.bg-white { background: var(--white) !important;}
.bg-pure { background:var(--pure) !important;}
.bg-gray-light { background:var(--gray-light)}
.bg-gray-loyal { background:var(--gray-loyal)}
.bg-gray-white { background:var(--gray-white)}
.bg-yellow { background: var(--yellow)}
.bg-blue-royal { background:var(--blue-royal); }
.bg-blue {background:var(--blue); }
.bg-green {background:var(--green) ;}
.bg-green-cake {background:var(--green-cake) ;}

.bg-blue950 { background-color: var(--blue950) !important; }
.bg-blue900 { background-color: var(--blue900) !important; }
.bg-blue800 { background-color: var(--blue800) !important; }
.bg-blue700 { background-color: var(--blue700) !important; }
.bg-blue600 { background-color: var(--blue600) !important; }
.bg-blue500 { background-color: var(--blue500) !important; }
.bg-blue400 { background-color: var(--blue400) !important; }
.bg-blue300 { background-color: var(--blue300) !important; }
.bg-blue200 { background-color: var(--blue200) !important; }
.bg-blue100 { background-color: var(--blue100) !important; }
.bg-blue50 { background-color: var(--blue50) !important; }

.bg-gray-white { background-color: var(--gray-white) !important;}

.bg-writeline {   background-image: var(--blue-gradient-2) !important;} 
.bg-writeline-2 {   background-image: var(--blue-gradient-3) !important;} 

/* -------- [ ICON Background ] ------- */
.fill-dark { fill: var(--dark) !important; }
.fill-wine { fill: var(--wine) !important; }
.fill-orange { fill: orange !important; }
.fill-gray { fill: var(--gray) !important; }
.fill-white { fill: var(--white) !important;}
.fill-pure { fill:var(--pure) !important;}
.fill-gray-light { fill:var(--gray-light) !important;}
.fill-gray-loyal { fill:var(--gray-loyal) !important;}
.fill-gray-white { fill:var(--gray-white) !important; }
.fill-yellow { fill: var(--yellow) !important; }
.fill-blue-royal { fill:var(--blue-royal) !important; }
.fill-blue {fill:var(--blue) !important; }
.fill-green {fill:var(--green) !important;}

.fill-blue950 { fill: var(--blue950); }
.fill-blue900 { fill: var(--blue900); }
.fill-blue800 { fill: var(--blue800); }
.fill-blue700 { fill: var(--blue700); }
.fill-blue600 { fill: var(--blue600); }
.fill-blue500 { fill: var(--blue500); }
.fill-blue400 { fill: var(--blue400); }
.fill-blue300 { fill: var(--blue300); }
.fill-blue200 { fill: var(--blue200); }
.fill-blue100 { fill: var(--blue100); }
.fill-blue50 { fill: var(--blue50); }

.fill-gray-white { fill: var(--gray-white) !important;}
.fill-writeline {   fill: var(--blue-gradient) !important;} 

.stroke-dark { stroke: var(--dark) !important; }
.stroke-wine { stroke: var(--wine) !important; }
.stroke-orange { stroke: orange !important; }
.stroke-gray { stroke: var(--gray) !important; }
.stroke-white { stroke: var(--white) !important;}
.stroke-pure { stroke:var(--pure) !important;}
.stroke-gray-light { stroke:var(--gray-light) !important;}
.stroke-gray-loyal { stroke:var(--gray-loyal) !important;}
.stroke-gray-white { stroke:var(--gray-white) !important; }
.stroke-yellow { stroke: var(--yellow) !important; }
.stroke-blue-royal { stroke:var(--blue-royal) !important; }
.stroke-blue {stroke:var(--blue) !important; }
.stroke-green {stroke:var(--green) !important;}

.stroke-blue950 { stroke: var(--blue950); }
.stroke-blue900 { stroke: var(--blue900); }
.stroke-blue800 { stroke: var(--blue800); }
.stroke-blue700 { stroke: var(--blue700); }
.stroke-blue600 { stroke: var(--blue600); }
.stroke-blue500 { stroke: var(--blue500); }
.stroke-blue400 { stroke: var(--blue400); }
.stroke-blue300 { stroke: var(--blue300); }
.stroke-blue200 { stroke: var(--blue200); }
.stroke-blue100 { stroke: var(--blue100); }
.stroke-blue50 { stroke: var(--blue50); }

.stroke-gray-white { stroke: var(--gray-white) !important;}
.stroke-writeline {  stroke: var(--blue-gradient) !important;} 

/* -------- [ Rows & Columns ] ------- */

.row {  display: flex; flex-wrap: wrap; gap: 1rem; }
.col-1 { width: 10%; }
.col-2 { width: 20%; }
.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
.col-10 { width: 100%; }

@media( max-width:800px){
    .col-1 { width:100% !important; }
    .col-2 { width:100% !important; }
    .col-3 { width:100% !important; }
    .col-4 { width:100% !important; }
    .col-5 { width:100% !important; }
    .col-6 { width:100% !important; }
    .col-7 { width:100% !important; }
    .col-8 { width:100% !important; }
    .col-9 { width:100% !important; }
    .col-10 { width:100% !important; }
}

/* -------- [ Borders ] ------- */

.rounded-0 { border-radius: 0px !important;}
.rounded {  border-radius:5px !important;}
.rounded-15 { border-radius: 15px !important; }
.rounded-big { border-radius: 25px !important; }

.rounded-top { border-top-left-radius: 5px !important; border-top-right-radius: 5px !important;}
.rounded-bottom { border-bottom-left-radius: 5px !important; border-bottom-right-radius: 5px !important;}
.rounded-left { border-top-left-radius: 5px !important; border-bottom-left-radius: 5px !important;}
.rounded-right { border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important;}

.rounded-top-big { border-top-left-radius: 25px !important; border-top-right-radius: 25px !important;}
.rounded-bottom-big { border-bottom-left-radius: 25px !important; border-bottom-right-radius: 25px !important;}
.rounded-left-big { border-top-left-radius: 25px !important; border-bottom-left-radius: 25px !important;}
.rounded-right-big { border-top-right-radius: 25px !important; border-bottom-right-radius: 25px !important;}

.rounded-top-right-big { border-top-right-radius: 25px !important; }
.rounded-top-left-big { border-top-left-radius: 25px !important; }

.rounded-bottom-right-big { border-bottom-right-radius: 25px !important;}
.rounded-bottom-left-big { border-bottom-left-radius: 25px !important; }

.rounded-pill { border-radius: 50px !important;}
.rounded-circle { border-radius: 50% !important;}

.border-0 { border: none !important;}
.border-min { border: solid 1px var(--gray-loyal) !important;}
.border-2px { border: solid 2px var(--gray-loyal) !important;}
.border-4px { border: solid 4px var(--gray-loyal) !important;}

.border-top { border-top: solid 1px var(--gray-loyal) !important;}
.border-top-2px { border-top: solid 2px var(--gray-loyal) !important;}
.border-top-4px { border-top: solid 4px var(--gray-loyal) !important;}

.border-bottom { border-bottom: solid 1px var(--gray-loyal) !important;}
.border-right { border-right: solid 1px var(--gray-loyal) !important;}
.border-left { border-left: solid 1px var(--gray-loyal) !important;}

.border-left-2px { border-left: solid 2px var(--gray-loyal);}
.border-left-1 { border-left: solid 4px var(--gray-loyal);}

.border-left-blue400 { border-color: var(--blue400); }
.border-left-white { border-color: var(--pure); }

.border-1 { border: solid 0.2rem !important; }
.border-2 { border: solid 2rem !important; }


.border-bottom { border-bottom: solid 0.5rem white; }
.border-bottom-2px { border-bottom: solid 2px  var(--gray-loyal) !important; }
.border-bottom-1 { border-bottom: solid 4px  var(--gray-loyal) !important; }

.border-dark { border-color: black !important; }
.border-gray { border-color: var(--gray-loyal) !important; }
.border-red { border-color: var(--red) !important; }

/* -------- [ Pointer ] ------- */

.pointer { cursor:pointer; }

/* -------- [ Shadow ] ------- */

.shadow { box-shadow: var(--shadow);}
.shadow-sm { box-shadow: var(--shadow-sm); }
.shadow-lg { box-shadow:var(--shadow-lg); }
.shadow-brigth { box-shadow: var(--shadow-bright); }

/* -------- [ Height ] ------- */

.h-min-10vh { min-height:10vh; }
.h-min-20vh { min-height:20vh; }
.h-min-30vh { min-height:30vh; }
.h-min-40vh { min-height:40vh; }
.h-min-50vh { min-height:50vh; }
.h-min-60vh { min-height:60vh; }
.h-min-70vh { min-height:70vh; }
.h-min-80vh { min-height:80vh; }
.h-min-90vh { min-height:90vh; }
.h-min-100vh { min-height:100vh; }

.h-max-10vh { max-height:10vh; }
.h-max-20vh { max-height:20vh; }
.h-max-30vh { max-height:30vh; }
.h-max-40vh { max-height:40vh; }
.h-max-50vh { max-height:50vh; }
.h-max-60vh { max-height:60vh; }
.h-max-70vh { max-height:70vh; }
.h-max-80vh { max-height:80vh; }
.h-max-90vh { max-height:90vh; }
.h-max-100vh { max-height:100vh; }

.h-10vh { height:10vh; }
.h-20vh { height:20vh; }
.h-30vh { height:30vh; }
.h-40vh { height:40vh; }
.h-50vh { height:50vh; }
.h-60vh { height:60vh; }
.h-70vh { height:70vh; }
.h-80vh { height:80vh; }
.h-90vh { height:90vh; }
.h-100vh { height:100vh;}

.h-10px { height: 10px; }
.h-20px { height: 20px; }
.h-30px { height: 30px; }
.h-40px { height: 40px; }
.h-50px { height: 50px; }
.h-60px { height: 60px; }
.h-70px { height: 70px; }
.h-80px { height: 80px; }
.h-90px { height: 90px; }
.h-100px {height: 100px; }
.h-110px {height: 110px; }
.h-120px {height: 120px !important; }
.h-130px {height: 130px; }
.h-140px {height: 140px; }
.h-150px {height: 150px; }
.h-160px {height: 160px; }
.h-170px {height: 170px; }
.h-180px {height: 180px; }
.h-190px {height: 190px; }
.h-200px {height: 200px; }
.h-300px {height: 300px; }
.h-400px {height: 400px; }
.h-500px {height: 500px; }
.h-800px {height: 800px; }
.h-900px {height: 900px }
.h-940px {height: 940px }

.h-100 { height: 100%; }
.h-auto { height: auto !important;}

.w-auto { width: auto !important; }
.w-100 { width: 100%; }

.w-10px { width: 10px !important; }
.w-20px { width: 20px !important; }
.w-30px { width: 30px !important; }
.w-40px { width: 40px !important; }
.w-50px { width: 50px !important; }
.w-60px { width: 60px !important; }
.w-70px { width: 70px !important; }
.w-80px { width: 80px !important; }
.w-90px { width: 90px !important; }
.w-100px { width: 100px !important; }
.w-110px { width: 110px !important; }
.w-120px { width: 120px !important; }
.w-130px { width: 130px !important; }
.w-140px { width: 140px !important; }
.w-150px { width: 150px !important; }
.w-160px { width: 160px !important; }
.w-170px { width: 170px !important; }

.w-200px { width: 200px !important; }
.w-250px { width: 250px !important; }
.w-300px { width: 300px !important; }
.w-350px { width: 350px !important; }
.w-400px { width: 400px !important; }
.w-450px { width: 450px !important; }

.w-800px { width: 800px !important; }
.w-900px { width: 900px !important; }
.w-940px { width: 940px !important; }

.w-max-200px { max-width: 200px !important;}
.w-max-250px { max-width: 250px !important;}
.w-max-300px { max-width: 300px !important;}
.w-max-350px { max-width: 350px !important;}

.w-10vw { width: 10vw; }
.w-20vw { width: 20vw; }
.w-30vw { width: 30vw; }
.w-40vw { width: 40vw; }
.w-50vw { width: 50vw; }
.w-60vw { width: 60vw; }
.w-70vw { width: 70vw; }
.w-80vw { width: 80vw; }
.w-90vw { width: 90vw; }
.w-100vw { width: 100vw; }

.list-unstyled {
  list-style: none !important;
}

.title {
  font-size:24px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-click,
.disable-click {
  pointer-events: none;
}


.trans-all-0-5s { transition: all 0.5s ease-in-out}

.hover-fade:hover {
  opacity: 0.5;
}


.notify {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: slideOpacity 0.5s ease forwards;
  z-index: 2000;
}

.notify-content {
  text-align: center;
  text-shadow: var(--text-shadow);
  color: var(--white);
  box-shadow: var(--shadow-lg);
  font-weight: 600;
  display: inline-block;
  width: auto;  
  padding: 1rem 2rem;
  border-radius: 25px;
}

.notify .notify-content.success {
  background-color: var(--green);
}
.notify .notify-content.info {
  background-color: var(--blue400);
}
.notify .notify-content.warning {
  background-color: orange;
}
.notify .notify-content.error {
  background-color: var(--wine);
}

@keyframes slideOpacity {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 15%;
    opacity: 1;
  }
}

@media (max-width: 600px){
  .notify {
    width: 80vw;
    bottom: 4%;
  }
}