


.chat-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100vh;
  grid-template-areas: 
    "chat_contacts chat_msg_panel"
  ;
  position: relative;
  /* background-image: var(--blue-gradient); */
}

.chat-page .chat-contacts {
  height: 100%;
  width: 100%;
  grid-area: chat_contacts;
}

.chat-page .chat-msg-panel {
  height: 100%;
  width: 100%;
  grid-area: chat_msg_panel;
  background-color: var(--gray-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
