

.panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* 
  grid-template-columns: 100%;
  grid-template-rows: 
    9%
    minmax(82%, 82%)   82%  72% 
    minmax(9%, 19%)  9% 19% 
  ;
  
  grid-template-areas: 
    "panel_header"
    "panel_body"
    "panel_footer"
  ; 
  */
}

/*****************************
  Panel Header
******************************/

.panel .panel-header {
  height: 9vh;
  width: 100%;
  grid-area: panel_header;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--pure);
}


.panel .panel-header .info-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor:pointer;
  transition: opacity 0.4s ease-in-out;
}

.panel .panel-header .info-container:hover {
  opacity: 0.6;
}

.panel .panel-header .info-container img {
  background-color: var(--gray-light);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
}

.panel .panel-header .info-container .info-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.panel .panel-header .info-container .info-body h1 {
  font-size: 14px;
  font-weight: 700;
  color: var(--blue700);
  margin: 0;
  padding: 0;
}

.panel .panel-header .info-container .info-body p {
  font-size: 13px;
  margin:0;
  padding:0;
  color: var(--gray);
}

.panel .panel-header .info-container .info-body .is-typing {
  font-size: 13px;
  color: var(--blue400) !important;
  font-weight: bold;
}

/*****************************
  Panel Body
******************************/
.panel .panel-body {
  min-height: 72vh;
  max-height: 82vh;
  grid-area: panel_body;
  background-color: var(--gray-white);
  position: relative;
}



/*****************************
  Panel Footer
******************************/
.panel .panel-footer {
  min-height: 9vh;
  max-height: 19vh;
  width: 100%;
  grid-area: panel_footer;
  background-color: var(--pure);
  border-top: 3px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 2rem;
  /* position: absolute;
  bottom:0; */
  overflow: hidden;
}

.panel .panel-footer .message-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  padding: 4px 0;
  /* background-color: var(--blue100); */
}

.panel .panel-footer .message-area input,
.panel .panel-footer .message-area textarea {
  width: 100%;
  border:none;
  outline:none;
  line-height: 16px;
  padding: 10px 1rem;
  border-radius: 15px;
  /* background-color: var(--blue100); */
  resize: none; /* Evita que el usuario pueda redimensionar manualmente el textarea */
  min-height: 16px; /* Altura mínima del textarea */
  max-height: 100px; /* Altura máxima del textarea */
}

.panel .panel-footer .message-area input:invalid,
.panel .panel-footer .message-area textarea:invalid {
  /* border: 3px solid var(--blue300); */
}

.panel .panel-footer .message-area input:focus,
.panel .panel-footer .message-area textarea:focus {
  border: none;
}

.panel .panel-footer .message-area input:disabled,
.panel .panel-footer .message-area textarea:disabled {
  /* border: 3px solid var(--blue200); */
  opacity: 0.5;
}

.panel .panel-footer .send-btn {
  border:none;
  outline: none;
  font-size: 24px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0.3rem 0.2rem 0 0;
  cursor: pointer;
  color: var(--blue400);
  background-color: white;
  
}

.panel .panel-footer .send-btn:hover {
  opacity: 0.8;
}

.panel .panel-footer .options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.panel .panel-footer .options .option-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: var(--gray-light); */
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panel .panel-footer .options .option-item svg {
  height: 28px;
  fill: var(--blue400);
}