

.panel {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 
    9%
    82%
    minmax(9%, auto)
  ;
  grid-template-areas: 
    "panel_header"
    "panel_body"
    "panel_footer"
  ;

}

.panel .panel-header {
  grid-area: panel_header;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--pure);
}


.panel .panel-header .info-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.panel .panel-header .info-container img {
  background-color: var(--gray-light);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
}

.panel .panel-header .info-container .info-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.panel .panel-header .info-container .info-body h1 {
  font-size: 14px;
  margin:0;
  padding:0;
  color: var(--blue700);
}

.panel .panel-header .info-container .info-body p {
  font-size: 14px;
  margin:0;
  padding:0;
  color: var(--gray);
}

.panel .panel-body {
  grid-area: panel_body;
  background-color: var(--gray-white);
}


.panel .panel-footer {
  grid-area: panel_footer;
  background-color: var(--pure);
  border-top: 3px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 2rem;
}

.panel .panel-footer .message-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  
}

.panel .panel-footer .message-area input,
.panel .panel-footer .message-area textarea {
  width: 100%;
  height: 76%;
  border:none;
  outline:none;
  padding: 0 1rem;
  border-radius: 25px;
  background-color: var(--blue100);
}

.panel .panel-footer .send-btn {
  border:none;
  outline: none;
  font-size: 24px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0.3rem 0.2rem 0 0;
  cursor: pointer;
  color: var(--blue400);
  background-color: white;
  
}

.panel .panel-footer .send-btn:hover {
  opacity: 0.8;
}

.panel .panel-footer .options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.panel .panel-footer .options .option-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray-light);
  cursor: pointer;
}