

.contactbar {
  width:100%;
  height: 100%; 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 
    15% 
    85%
  ;
  grid-template-areas: 
    "contactbar_header"
    "contactbar_body"
  ;
  border-right: 1px solid var(--gray-white);
}


/***************************************
  Header Title and Options
****************************************/
.contactbar .contactbar-header {
  grid-area: contactbar_header;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 
    50% 
    50%
  ;
  grid-template-areas: 
    "contactbar_options"
    "contactbar_search"
  ;
}

.contactbar .contactbar-header .contactbar-options {
  grid-area: contactbar_options;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem 0.5rem;

}

.contactbar .contactbar-header .contactbar-options h1 {
  font-family: var(--main-font) !important;
  font-size: 20px;
  font-weight: 600;
  color: var(--blue700);
}

.contactbar .contactbar-header .contactbar-options .new-msg {
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue400);
  color: var(--pure);
  width: 44px;
  height: 34px;
  text-align: center;
  padding-right: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.contactbar .contactbar-header .contactbar-options .new-msg:hover {
  background-color: var(--blue600);
}

.contactbar .contactbar-body {
  grid-area: contactbar_body;
  padding: 1rem 1rem 2rem;
  overflow-y: auto;
}



